/* Add this to your styles.css or equivalent CSS file */
html,
body {
  height: 100%;
  margin: 0;
}
:root {
    --primary-color: #2c3e50; /* Midnight Blue */
    --secondary-color: #3498db; /* Electric Blue */
    --accent-color: #1abc9c; /* Spring Green */
    --background-color: #f8f9fa; /* Lavender Blush */
  }
  
 
  
  .navbar {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
  }
  
  .navbar-brand,
  .nav-link {
    color: var(--secondary-color) !important;
    transition: color 0.3s ease;
  }
  
  .navbar-toggler-icon {
    color: var(--secondary-color);
  }
  
  .nav-link:hover {
    color: var(--accent-color) !important;
  }
  
  .navbar-toggler {
    border: none;
    color: var(--secondary-color);
  }
  
  .navbar-toggler:hover {
    color: var(--accent-color);
  }
  
  .navbar-collapse {
    justify-content: space-between;
  }
  
  .navbar-collapse.collapse.show .nav-justified {
    justify-content: center;
  }
  

  @media(max-width:932px){
    .nav-justified {
       margin:0 auto;
      }
}


.hero-container {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 100px 20px;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.typewriter-text {
  color: #3498db;
  font-weight: bold;
}


/* Custom Modal Size */
.custom-modal .modal-dialog {
  max-width: 500px !important;
  width: 500px !important;
}

.custom-modal .modal-content {
  height: 500px !important;
}

/* Responsive Modal */
@media (max-width: 576px) {
  .custom-modal .modal-dialog {
    max-width: 90% !important;
    width: 90% !important;
  }

  .custom-modal .modal-content {
    height: auto !important; /* Allow height to adjust based on content */
  }
}


/* Footer Styles */
.footer {
  background-color: #343a40;
  color: white;
}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer ul {
  padding-left: 0; /* Remove default padding */
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #007bff;
}

.footer .social-icons a {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
}

.footer .social-icons a:hover {
  color: #007bff;
}

.footer .copyright {
  font-size: 0.9rem;
  color: #6c757d; /* Light gray color */
}

