/* Add this to your styles.css or equivalent CSS file */
html,
body {
  height: 100%;
  margin: 0;
}
:root {
    --primary-color: #2c3e50; /* Midnight Blue */
    --secondary-color: #3498db; /* Electric Blue */
    --accent-color: #1abc9c; /* Spring Green */
    --background-color: #f8f9fa; /* Lavender Blush */
  }
  
  body {
    background-color: var(--background-color);
  }
  
  .navbar {
    background-color: var(--primary-color);
    transition: background-color 0.3s ease;
  }
  
  .navbar-brand,
  .nav-link {
    color: var(--secondary-color) !important;
    transition: color 0.3s ease;
  }
  
  .navbar-toggler-icon {
    color: var(--secondary-color);
  }
  
  .nav-link:hover {
    color: var(--accent-color) !important;
  }
  
  .navbar-toggler {
    border: none;
    color: var(--secondary-color);
  }
  
  .navbar-toggler:hover {
    color: var(--accent-color);
  }
  
  .navbar-collapse {
    justify-content: space-between;
  }
  
  .navbar-collapse.collapse.show .nav-justified {
    justify-content: center;
  }
  

  @media(max-width:932px){
    .nav-justified {
       margin:0 auto;
      }
}
/* Ensure particles cover the entire viewport */
#tsparticles {
  position: fixed; /* Cover the entire screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Keep it behind the text */
}

/* Hero section styles */
.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  z-index: 2; /* Keep text above the particles */
}

.hero h1,
.hero h2 {
  color: #2c3e50; /* Adjust text color */
}


.project-card {
  height: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin: auto;
}
